@model ProjectApp.Models.ProjectViewModel

@{ ViewData["Title"] = "Create"; }

<h1>Project Form</h1>

<hr />
<div class="row text-center">
    <div class="col-md-3">
        <form asp-action="AddorEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <div>
                    <label for="ProjectName">Name:</label>
                    <input type="text" id="Name" name="Name" value="@Model.Name" />
                </div>
                <div>
                    <label for="Language">Language:</label>
                    <input type="text" id="Language" name="Language" value="@Model.Language" />
                </div>
                <div>
                    <label for="Info">Details:</label>
                    <input type="text" id="Info" name="Info" value="@Model.Info" />
                </div>
                <div>
                    <label for="StartDate">Start Date:</label>
                    <input class="ProjectDate" type="text" id="StartDate" name="StartDate" value="@Model.StartDate" />
                </div>
                <div>
                    <label for="EndDate">End Date:</label>
                    <input class="ProjectDate" type="text" id="EndDate" name="EndDate" value="@Model.EndDate" />
                </div>
                <input type="submit" value="Update" class="btn btn-primary panel panel-success" />
            </div>
        </form>
        <a asp-action="Index">
            <h3><i class="arrow alternate circle left icon">Back to List</i></h3>
        </a>
    </div>
    <img src="~/images/projectpix.jpg" class="w-50 h-50" alt="My image" />

</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }








