@model IEnumerable<ProjectApp.Models.ReportJournal>

@{
    ViewData["Title"] = "Details";
}

<h1><i class="fa fa-line-chart"> Progress Report</i></h1>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                Technologies
            </th>
            <th>
                Time Developing
            </th>
            <th>
                Changed Language?
            </th>
            <th>
                Changed Name?
            </th>
            <th>
                Change Frequency
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjLanguage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DevTime)
            </td>
            <td>
                @item.LanguageChange
            </td>
            <td>
                @item.NameChange
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangeCount)
            </td>
            <td>
            </td>
        </tr>
}
    </tbody>
</table>
